<h1 style="color: orangered; text-align: center; font-size: 80px;">Kan ik vandaag een korte broek aan?</h1>
<img src="/ShortPants.png" style="display: block; margin-left: auto; margin-right: auto; width: 20%; min-width: 50px;" />
<body style="background-color: orange;">
</body>
