<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<body class="bg-dark-subtle">
	<div class="row">
		<h1 class="text-primary fw-light col-8">Pakkende titel</h1>
	</div>

	<div class="row">
		<p class=" fw-light col-8">Subtiele subtitel</p>
	</div>

	<div class="row">
		<div class="col-12 col-md-6 bg-primary-subtle border border-primary">50% op desktop, 100% op mobiel</div>
		<div class="col-12 col-md-6 bg-primary-subtle border border-primary">50% op desktop, 100% op mobiel</div>
	</div>

	<div class="row">
		<div class="col-6 bg-warning-subtle border border-warning">altijd 50%</div>
		<div class="col"></div>
		<div class="col col-3 bg-warning-subtle border border-warning">altijd 25%, 3 opgeschoven</div>
	</div>

	<div class="row">
		<div class="col-3 bg-success-subtle border border-success">altijd 25% en enige in zijn rij</div>
	</div>

	<div class="row">
		<div class="col-3 bg-success-subtle border border-success">ook 25% maar niet bij de vorige rij erbij</div>
		<div class="col-3 bg-success-subtle border border-success">ook 25% maar niet bij de vorige rij erbij</div>
	</div>

	<div class="row">
		<p class="col-2">
			<i class="col-1 bi bi-check-square-fill me-2 text-success"></i>
			Het is me gelukt!
		</p>
	</div>

	<div class="text-end">
		<div class="fs-5">Do or do not, there is no try</div>
		<div class="text-black-50">- The Doctor - Star Trek SG-1</div>
	</div>
</body>